# Folder
.config/autostart/*
.config/Code/*
.config/dconf/*
.config/test*
.config/doom/*
.config/emacs/*
.config/fcitx/*
.config/fcitx5/*
.config/GIMP/*
.config/go/**
.config/gtk-*/*
.config/ibus/*
.config/JetBrains/*
.config/jupyterlab-desktop/*
.config/kate/*
.config/kcmfonts*
.config/KDE/*
.config/kde.org/*
.config/kdeconnect/*
.config/kdedefaults/*
.config/keepassxc/*
.config/kinfocenterrc/*
.config/ksplashrc*
.config/libaccounts-glib/*
.config/libreoffice/*
.config/matplotlib/*
.config/neofetch/*
.config/pdfarranger/*
.config/plasma-workspace/*
.config/pulse/*
.config/rstudio/*
.config/sciebo/*
.config/sddmthemeinstallerrc*
.config/session/*
.config/starship/*
.config/texstudio/*
.config/xm1/*
.config/xsettingsd/*

# Files
.config/akregatorrc
.config/arkrc
.config/baloofileinformationrc
.config/bluedevilglobalrc
.config/discoverrc
.config/dolphinrc
.config/emaildefaults
.config/gtkrc
.config/gtkrc-*
.config/gwenviewrc
.config/kactivitymanager*
.config/katemetainfos
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kcalcrc
.config/kcminputrc
.config/kconf_updaterc
.config/kded5rc
.config/kdeglobals
.config/KeePassXCrc
.config/kfontinstuirc
.config/kfontviewrc
.config/kgammarc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kinfocenterrc
.config/kmixrc
.config/konsolerc
.config/konsolesshconfig
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/mimeapps.list
.config/okularpartrc
.config/okularrc
.config/plasma*
.config/Plasma*
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/QtProject.conf
.config/spectaclerc
.config/system*
.config/Texmakerrc
.config/TeXstudiorc
.config/trashrc
.config/Trolltech.conf
.config/user-dirs*
.config/xdg*
